<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="static/h-ui.admin/css/style.css" />
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>用户管理</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 用户中心 <span class="c-gray en">&gt;</span> 用户管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="text-c"> 日期范围：
		<input type="text" onfocus="WdatePicker({ maxDate:'#F{$dp.$D(\'datemax\')||\'%y-%M-%d\'}' })" id="datemin" class="input-text Wdate" style="width:120px;">
		-
		<input type="text" onfocus="WdatePicker({ minDate:'#F{$dp.$D(\'datemin\')}',maxDate:'%y-%M-%d' })" id="datemax" class="input-text Wdate" style="width:120px;">
		<input type="text" class="input-text" style="width:250px" placeholder="输入会员名称、电话、邮箱" id="" name="">
		<button type="submit" class="btn btn-success radius" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜用户</button>
	</div>
	<div class="cl pd-5 bg-1 bk-gray mt-20">
		<span class="l">
			<!--<a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>-->
			<a href="javascript:;" onclick="member_add('添加校区','toSchoolAdd.html','','510')" class="btn btn-primary radius">
				<i class="Hui-iconfont">&#xe600;</i> 添加校区</a>
		</span>
		<span class="l">&nbsp;&nbsp;
			<a href="javascript:;" onclick="downloadClassroomTemplate()" class="btn btn-primary radius">
				<i class="Hui-iconfont">&#xe600;</i>下载教室模版</a>
		</span>
		<span class="r">共有数据：<strong th:text="${page.pages}">88</strong> 页</span> </div>
	<div class="mt-20">
		<div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
			<!--<div class="dataTables_length" id="DataTables_Table_0_length">
				<label>显示
					<select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="select">
					<option value="10">2</option>
					<option value="25">5</option>
					<option value="50">10</option>
				</select> 条</label></div>
			<div id="DataTables_Table_0_filter" class="dataTables_filter">
				<label>从当前数据中检索:<input type="search" class="input-text " aria-controls="DataTables_Table_0"></label>
			</div>-->
			<table class="table table-border table-bordered table-hover table-bg table-sort">
				<thead>
				<tr class="text-c">
					<th width="25"><input type="checkbox" name="" value=""></th>
					<th width="50">ID</th>
					<th width="100">校区</th>
					<th width="70">校长</th>
					<th width="90">电话</th>
					<th width="150">邮箱</th>
					<th width="">地址</th>
					<th width="70">状态</th>
					<th width="100">操作</th>
				</tr>
				</thead>
				<tbody>
				<div th:each="school:${page.list}">
					<tr class="text-c">
						<td><input type="checkbox" value="1" name=""></td>
						<td th:text="${school.id}">1</td>
						<td><u th:text="${school.noId}" style="cursor:pointer" class="text-primary" onclick="member_show('张三','member-show.html','10001','360','400')">张三</u></td>
						<td th:text="${school.rector}" class="text-l">北京市 海淀区</td>
						<td th:text="${school.telephone}">13000000000</td>
						<td th:text="${school.email}">admin@mail.com</td>
						<td th:text="${school.address}">男</td>
						<td class="td-status"><span th:text="${school.status eq '1'?'正常':'停用'}" class="label label-success radius">已启用</span></td>
						<td class="td-manage">
							<a style="text-decoration:none" th:onClick="${school.status} eq '1'? |member_stop(this,'${school.id}','0')|:|javascript:;|" href="javascript:;" title="停用"><i class="Hui-iconfont">&#xe631;</i></a>
							<a title="编辑" href="javascript:;" th:onclick="|member_edit('编辑','toschooledit.html?id=${school.id}','4','','510')|" class="ml-5" style="text-decoration:none">
								<i class="Hui-iconfont">&#xe6df;</i></a>
							<a style="text-decoration:none" class="ml-5" th:onClick="|add_room(${school.id})|" href="javascript:;" title="添加教室">
								<i class="Hui-iconfont">&#xe642;</i></a>
						</td>
					</tr>
				</div>
				</tbody>
			</table>
			<div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">
				显示 <span th:text="${page.startRow}"></span> 到 <span th:text="${page.endRow}"></span> ，共 <span th:text="${page.total}"></span> 条</div>
			<div  class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
				<a class="paginate_button previous disabled" th:href="${page.preUrl}"
				   aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" id="DataTables_Table_0_previous">上一页</a>
				<span><a class="paginate_button current" th:text="${page.pageNum}" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0">1</a></span>
				<a class="paginate_button next disabled" aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0"
					  id="DataTables_Table_0_next" th:href="${page.nextUrl}" >下一页</a>
			</div>
		</div>

	</div>
</div>
<form action="formUploadroom" method="post" enctype="multipart/form-data" style="display: none" id="formUploadroom">
	<input type="file" name="classroom" id="classroom" onchange="uploadClassroom()">
	<input type="hidden" name="schId" id="schId">
</form>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="static/h-ui/js/H-ui.min.js"></script> 
<script type="text/javascript" src="static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="lib/My97DatePicker/4.8/WdatePicker.js"></script> 
<script type="text/javascript" src="lib/datatables/1.10.0/jquery.dataTables.min.js"></script> 
<script type="text/javascript" src="lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
$(function(){

	
});
/*下载教室模版*/
function downloadClassroomTemplate(){
    window.location.href="downloadClassroomTemplate";
}
/*上传教室excel文件*/
function add_room(schID) {
	$("#schId").val(schID);
	$("#classroom").click();
}
function uploadClassroom() {
	$("#formUploadroom").submit();
}
/*用户-添加*/
function member_add(title,url,w,h){
	layer_show(title,url,w,h);
}
/*用户-查看*/
function member_show(title,url,id,w,h){
	layer_show(title,url,w,h);
}
/*用户-停用*/
function member_stop(obj,id,status){

	layer.confirm('确认要停用吗？',function(index){

		$.ajax({
			type: 'GET',
			url: 'updateSchoolStatus?status='+status+'&id='+id,
			dataType: 'json',
			success: function(data){
			    console.log("********"+data)
				$(obj).parents("tr").remove();
				//layer.msg('已停用!',{icon: 5,time:1000});

			},
			error:function(data) {
				console.log(data.msg);
			},
		});

        layer.close(index);
	});
}


/*用户-编辑*/
function member_edit(title,url,id,w,h){
	layer_show(title,url,w,h);
}


</script> 
</body>
</html>